@model rkrApp.Models.Results
@{
    ViewBag.Title = "Исправление расхождений в баллах";
}


<div class="row" id="area">
    <h3>Расхождение результатов @Model.Students.cipher</h3>

    <div class="col-md-7">
        <form method="post">
            @Html.HiddenFor(model => model.id);
            @Html.HiddenFor(model => model.id_student);
            @Html.HiddenFor(model => model.id_user);
            @Html.HiddenFor(model => model.number_verification);
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Номер задания</th>
                        <th>Район</th>
                        <th>Область</th>
                        <th>Итоговый балл</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.answer1!=null)
                    {
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                @ViewBag.r1.answer1
                            </td>
                            <td>
                                @ViewBag.r2.answer1
                            </td>
                            <td>
                                <input value="@Model.answer1" tabindex="1" class="form-control" name="answer1" required id="answer1">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer2!=null)
                    {
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                @ViewBag.r1.answer2
                            </td>
                            <td>
                                @ViewBag.r2.answer2
                            </td>
                            <td>
                                <input value="@Model.answer2" tabindex="2" class="form-control" name="answer2" required id="answer2">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer3!=null)
                    {
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                @ViewBag.r1.answer3
                            </td>
                            <td>
                                @ViewBag.r2.answer3
                            </td>
                            <td>
                                <input value="@Model.answer3" tabindex="3" class="form-control" name="answer3" required id="answer3">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer4 != null)
                    {
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                @ViewBag.r1.answer4
                            </td>
                            <td>
                                @ViewBag.r2.answer4
                            </td>
                            <td>
                                <input value="@Model.answer4" tabindex="4" class="form-control" name="answer4" required id="answer4">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer5 != null)
                    {
                        <tr>
                            <td>
                                5
                            </td>
                            <td>
                                @ViewBag.r1.answer5
                            </td>
                            <td>
                                @ViewBag.r2.answer5
                            </td>
                            <td>
                                <input value="@Model.answer5" tabindex="5" class="form-control" name="answer5" required id="answer5">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer6 != null)
                    {
                        <tr>
                            <td>
                                6
                            </td>
                            <td>
                                @ViewBag.r1.answer6
                            </td>
                            <td>
                                @ViewBag.r2.answer6
                            </td>
                            <td>
                                <input value="@Model.answer6" tabindex="6" class="form-control" name="answer6" required id="answer6">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer7 != null)
                    {
                        <tr>
                            <td>
                                7
                            </td>
                            <td>
                                @ViewBag.r1.answer7
                            </td>
                            <td>
                                @ViewBag.r2.answer7
                            </td>
                            <td>
                                <input value="@Model.answer7" tabindex="7" class="form-control" name="answer7" required id="answer7">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer8 != null)
                    {
                        <tr>
                            <td>
                                8
                            </td>
                            <td>
                                @ViewBag.r1.answer8
                            </td>
                            <td>
                                @ViewBag.r2.answer8
                            </td>
                            <td>
                                <input value="@Model.answer8" tabindex="8" class="form-control" name="answer8" required id="answer8">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer9 != null)
                    {
                        <tr>
                            <td>
                                9
                            </td>
                            <td>
                                @ViewBag.r1.answer9
                            </td>
                            <td>
                                @ViewBag.r2.answer9
                            </td>
                            <td>
                                <input value="@Model.answer9" tabindex="9" class="form-control" name="answer9" required id="answer9">
                            </td>
                        </tr>
                    }
                    @if (@Model.answer10 != null)
                    {
                        <tr>
                            <td>
                                10
                            </td>
                            <td>
                                @ViewBag.r1.answer10
                            </td>
                            <td>
                                @ViewBag.r2.answer10
                            </td>
                            <td>
                                <input value="@Model.answer10" tabindex="10" class="form-control" name="answer10" required id="answer10">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" class="btn btn-success" value="сохранить">
        </form>
    </div>
    <div class="col-md-5 scan">
        <img class="img-responsive cipher" src="~/Content/blank.jpg">
        <span class="glyphicon glyphicon-zoom-in"></span>
    </div>
</div>